.impacto-fundo {
  background: var(--cor-azul);
  padding: 100px 0;
  margin-top: 100px;
}

.impacto ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.impacto ul h2 {
  font-size: 4rem;
  color: var(--cor-amarelo);
}

.impacto ul p {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/* =========================
   RESPONSIVIDADE
========================= */

@media (max-width: 1150px) {

  .impacto ul {
    gap: 30px;
  }

  .impacto ul h2 {
    font-size: 3.2rem;
  }

  .impacto ul p {
    font-size: 1.6rem;
  }
}

@media (max-width: 1050px) {

  .impacto ul {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
  }
}

@media (max-width: 500px) {

  .impacto-fundo {
    margin-top: 70px;
    padding: 70px 0;
  }

  .impacto ul {
    gap: 30px;
  }

  .impacto ul h2 {
    font-size: 2.5rem;
  }

  .impacto ul p {
    font-size: 1.25rem;
  }
}