.menu-fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
}

/* .menu-sobreposicao {
} */

.menu-nav {
  padding: 20px 50px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-nav img {
  width: 140px;
  height: auto;
}

.menu-list {
  display: flex;
  gap: 30px;
}

.menu-list a {
  font-size: 1.25rem;
  color: #1E1E1E;
}

.menu-list .button-menu {
  background-color: #052451;
  color: white;
  padding: 15px 30px;
  border-radius: 12px;
}

.menu-list a:hover {
  transition: .2s;
  color: #FAB218;
}

.menu-list .button-menu:hover {
  background-color: #FAB218;
  transition: .2s;
  color: white;
}