.parceiros {
  margin-top: 100px;
  overflow: hidden;
}

.parceiros h1 {
  font-size: 3rem;
  font-family: agbook;
  font-weight: 500;
  color: var(--cor-azul);
}

.parceiros-lista {
  display: flex;
  align-items: center;
  gap: 30px;
  width: max-content;
  margin-top: 50px;

  animation: parceiros 15s linear infinite;
}

.parceiros-lista li {
  flex-shrink: 0;
}

.parceiros-lista li div {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .parceiros-lista:hover {
  animation-play-state: paused;
} */

@keyframes parceiros {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 15px));
  }
}

/* =========================
   RESPONSIVIDADE
========================= */

@media (max-width: 1150px) {

  .parceiros h1 {
    font-size: 2.5rem;
  }

  .parceiros-lista li div {
    width: 220px;
  }
}

@media (max-width: 1050px) {

  .parceiros-lista {
    margin-top: 40px;
    gap: 25px;
    animation-duration: 18s;
  }

  .parceiros-lista li div {
    width: 200px;
  }
}

@media (max-width: 500px) {

  .parceiros {
    margin-top: 70px;
  }

  .parceiros h1 {
    font-size: 2rem;
  }

  .parceiros-lista {
    margin-top: 30px;
    gap: 20px;
    animation-duration: 20s;
  }

  .parceiros-lista li div {
    width: 150px;
  }

  .parceiros-lista li img {
    max-width: 100%;
    height: auto;
  }
}